<h1>States</h1>

<% states=["Minnesota", "Mississippi", "Montana", "Maine"] %>

<ul>
  <% states.each do |state| %>
    <li><h2><%= state %></h2></li>
    <% end %>
</ul>


<br></br>


<h1>Cities</h1>

<% cities=["Boise", "Boulder", "Banff", "Broomfield"] %>

<ul>
  <% cities.each do |city| %>
    <li><h2><%= city %></h2></li>
  <% end %>
</ul>
